<div class="ys-notification{{#if modifierClass}} {{modifierClass}}{{/if}}">
    <span class="ys-notification__icon">
        {{render '@ui-icons--exclamation-mark'}}
    </span>
    <div class="ys-notification__content">
        <p class="ys-notification__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. <a href="#" class="ys-notification__inline-link">Link titel her</a> </p>
    </div>
</div>