/* IMPORT WEBFONTS HERE so elements can be used with different font loading strategies */
@font-face {
  font-family: 'Etica';
  src: url('//s.c.dk/fonts/lft_etica_light-webfont.woff2') format('woff2'), url('//s.c.dk/fonts/lft_etica_light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Etica';
  src: url('//s.c.dk/fonts/lft_etica_reg-webfont.woff2') format('woff2'), url('//s.c.dk/fonts/lft_etica_reg-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Etica';
  src: url('//s.c.dk/fonts/lft_etica_semibold-webfont.woff2') format('woff2'), url('//s.c.dk/fonts/lft_etica_semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Etica';
  src: url('//s.c.dk/fonts/lft_etica_bold-webfont.woff2') format('woff2'), url('//s.c.dk/fonts/lft_etica_bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Files that don't render anything in the CSS */
@import './settings/colors';
@import './settings/settings';
@import './tools/functions';
@import './tools/mixins';

/* "foundation" file including utils*/
@import 'base';

/* layout */
@import './layout/grid';

/* icons */
@import './icons/icons';

/* elements */
@import './elements/typography';
@import './elements/link';
@import './elements/rich-text';
@import './elements/input-field';
@import './elements/textarea';
@import './elements/select';
@import './elements/radio-button';
@import './elements/checkbox';
@import './elements/slider';
@import './elements/toggle-switch';
@import './elements/card';
@import './elements/button';
@import './elements/tooltip';
@import './elements/splash';
@import './elements/tag';
@import './elements/progress';
@import './elements/flow-steps';
@import './elements/tabs';
@import './elements/notification';
