/* IMPORT WEBFONTS HERE so elements can be used with different font loading strategies */
@font-face {
  font-family: 'Etica';
  src: url('//s.c.dk/fonts/lft_etica_light-webfont.woff2') format('woff2'), url('//s.c.dk/fonts/lft_etica_light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Etica';
  src: url('//s.c.dk/fonts/lft_etica_reg-webfont.woff2') format('woff2'), url('//s.c.dk/fonts/lft_etica_reg-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Etica';
  src: url('//s.c.dk/fonts/lft_etica_semibold-webfont.woff2') format('woff2'), url('//s.c.dk/fonts/lft_etica_semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Etica';
  src: url('//s.c.dk/fonts/lft_etica_bold-webfont.woff2') format('woff2'), url('//s.c.dk/fonts/lft_etica_bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Files that don't render anything in the CSS */
@import './generated/ys-colors';
@import './settings/ys-settings';
@import './tools/ys-functions';
@import './tools/ys-mixins';

/* "foundation" file including utils*/
@import 'ys-base';

/* layout */
@import './layout/ys-grid';

/* icons */
@import './icons/ys-icons';

/* elements */
@import './elements/ys-typography';
@import './elements/ys-link';
@import './elements/ys-rich-text';
@import './elements/ys-input-field';
@import './elements/ys-textarea';
@import './elements/ys-select';
@import './elements/ys-radio-button';
@import './elements/ys-checkbox';
@import './elements/ys-slider';
@import './elements/ys-toggle-switch';
@import './elements/ys-card';
@import './elements/ys-button';
@import './elements/ys-tooltip';
@import './elements/ys-splash';
@import './elements/ys-tag';
@import './elements/ys-progress';
@import './elements/ys-flow-steps';
@import './elements/ys-tabs';
@import './elements/ys-notification';
@import './elements/ys-bow';
