<p class="ys-u-mobile-only">This text is only shown on small devices</p>
<p class="ys-u-tablet-down">This text is shown on medium and small devices</p>
<p class="ys-u-tablet-up">This text is shown on medium and large devices</p>
<p class="ys-u-desktop-only">This text is only shown on large devices</p>