<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <title>YouSee DNA</title>
<meta name="description" content="A comprehensive guide and resource library that contains everything you’ll need to design with us, including our core principles, visual design, interface components, branding, and resources to help make your work faster and our pages more consistent.">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/theme/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/theme/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/theme/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/theme/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/theme/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/assets/theme/favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/theme/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">


<link rel="stylesheet" href="../../themes/mandelbrot/css/black.css?cachebust=1.2.1" type="text/css">

<link rel="stylesheet" href="../../assets/theme/css/styles.css?cachebust=1.2.1" type="text/css">

<link rel="stylesheet" href="../../assets/css/ys-bundle.min.css?cachebust=1.2.1" type="text/css">




    <title>Grid: Example 02 | YouSee DNA</title>


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137185303-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-137185303-1');
</script>



<script>
    localStorage.removeItem('tree.tree-docs.state');
    localStorage.removeItem('tree.tree-components.state');
</script>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar" aria-label="Toggle navigation">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>
        <img src="/assets/theme/images/dna-logo.svg" class="Header-logo" alt="YouSee DNA" />
    </a>

    <ul class="Header-menu">
        <li>
            <a href="https://github.com/youseedk/dna" aria-label="View YouSee DNA Repository on GitHub" class="Header-version">
                <span>3.0.1</span>
                <img src="/assets/theme/images/github.svg" alt="" />
            </a>
        </li>
    </ul>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-fd2ad5969460dd69acb5183eef2a3fea">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/grid--example-02.html" title="Component preview">
            Grid: Example 02
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-fd2ad5969460dd69acb5183eef2a3fea">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/grid--example-02.html"
                sandbox="allow-same-origin allow-scripts allow-forms allow-modals"
                 style=""
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-fd2ad5969460dd69acb5183eef2a3fea">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-fd2ad5969460dd69acb5183eef2a3fea-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-fd2ad5969460dd69acb5183eef2a3fea-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-fd2ad5969460dd69acb5183eef2a3fea-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"ys-container-fluid"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"ys-row"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"ys-col"</span>&gt;</span>Column content<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"ys-col"</span>&gt;</span>Column content<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"ys-col"</span>&gt;</span>Column content<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-fd2ad5969460dd69acb5183eef2a3fea-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p>The grid included in YouSee DNA is the Bootstrap grid, so please refer to the <a href="https://getbootstrap.com/docs/4.2/layout/grid/">documentation on their website</a>. Please notice that it is only the “core” grid classes from Bootstrap, that are included, ie. the flex-utilities and margin-utilities from Bootstrap are <em>not</em> included.
The grid’s settings is defined by YouSee and it has also been expanded and modified slighly (documented below).</p>
<p><strong> IMPORTANT: although it is the Bootstrap grid, the classes are still prefixed with <code>ys-</code>. </strong></p>
<h2 id="settings">Settings</h2>
<ul>
<li>The grid consists of 12 columns</li>
<li>The gutters vary in sizes depending on the viewport size:<ul>
<li>12px on devices with a viewport width smaller than 576px</li>
<li>24px on devices with a viewport width between 576px and 991px</li>
<li>32px on devices with a viewport width larger than 992px</li>
</ul>
</li>
</ul>
<h2 id="modifications-expansions-and-limitations">Modifications, Expansions and Limitations</h2>
<p>All <code>ys-container</code> elements have inside padding, to avoid content hitting the edge of the viewport.</p>
<p>It is possible to add vertical padding to the <code>ys-col-*</code> children inside a <code>ys-row</code> by adding a modifier class to the row, ie.:</p>
<code><pre>&lt;<span class="hljs-keyword">div</span> <span class="hljs-built_in">class</span>=<span class="hljs-string">"ys-container-fluid"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-built_in">class</span>=<span class="hljs-string">"ys-row ys-row--vertical-spacing-sm"</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-built_in">class</span>=<span class="hljs-string">"ys-col-6"</span>&gt;Column&lt;/<span class="hljs-keyword">div</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-built_in">class</span>=<span class="hljs-string">"ys-col-6"</span>&gt;Column&lt;/<span class="hljs-keyword">div</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-built_in">class</span>=<span class="hljs-string">"ys-col-6"</span>&gt;Column&lt;/<span class="hljs-keyword">div</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-built_in">class</span>=<span class="hljs-string">"ys-col-6"</span>&gt;Column&lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</pre></code><p>The above code will produce a layout with two rows of two columns with 16px vertical margin.</p>
<p>The following modifier classes for vertical margins are available:</p>
<ul>
<li><code>ys-row--vertical-spacing-sm</code> (16px)</li>
<li><code>ys-row--vertical-spacing-md</code> (24px)</li>
<li><code>ys-row--vertical-spacing-lg</code> (32px)</li>
<li><code>ys-row--vertical-spacing-xl</code> (48px)</li>
</ul>
<p>It is not possible to add custom padding to columns in the YouSee grid.</p>

        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <form method="GET" name="search" class="search" action="" id="searchForm">
    <label class="ys-u-visuallyhidden" for="searchInput">Search for a page or component</label>
    <input name="q" id="searchInput" type="search" value="" class="search__input" placeholder="Search..." autocomplete="off" list="searchSuggestions" pattern="[a-zA-Z0-9-_\.\s]{1,65}" title="Only letters and numbers are allowed" autofocus>
    <button type="submit" id="SearchButton" class="search__button">
        <span class="ys-u-visuallyhidden">Søg</span>
    </button>
    <ul id="searchSuggestions" class="search__suggestions"></ul>
</form>

<div class="search-color-meaning">
    <p class="search-color-meaning__text">Color explanation</p>
    <ul>
        <li class="search-color-meaning__item search-color-meaning__item--component">Component</li>
        <li class="search-color-meaning__item search-color-meaning__item--design-guidelines">Design guidelines</li>
        <li class="search-color-meaning__item search-color-meaning__item--code-guidelines">Code guidelines</li>
        <li class="search-color-meaning__item search-color-meaning__item--page">Page</li>
    </ul>
    <button type="button" class="search-color-meaning__close">
        <span class="ys-u-visuallyhidden">Søg</span>
    </button>
</div>

<nav class="Navigation">
    
        
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">Guidelines</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-docs-collection-components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-docs-collection-foundation">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Foundation</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/foundation/base.html" data-pjax>
                <span>Base</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/foundation/webfonts.html" data-pjax>
                <span>Webfonts</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-docs-collection-layout">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Layout</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/layout/grid.html" data-pjax>
                <span>Grid</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/layout/card.html" data-pjax>
                <span>Card</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/layout/bow.html" data-pjax>
                <span>Bow</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-docs-collection-text">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Text</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/text/typography.html" data-pjax>
                <span>Typography</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/text/rich-text.html" data-pjax>
                <span>Rich Text</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/text/link.html" data-pjax>
                <span>Link</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-docs-collection-icons-and-logo">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Icons And Logo</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/icons-and-logo/shortcut.html" data-pjax>
                <span>Shortcut</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/icons-and-logo/icon.html" data-pjax>
                <span>Icon</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/icons-and-logo/logo.html" data-pjax>
                <span>Logo</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-docs-collection-form-elements">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Form Elements</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/form-elements/input-field.html" data-pjax>
                <span>Input Field</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/form-elements/select.html" data-pjax>
                <span>Select</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/form-elements/textarea.html" data-pjax>
                <span>Textarea</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/form-elements/checkbox.html" data-pjax>
                <span>Checkbox</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/form-elements/radiobutton.html" data-pjax>
                <span>Radiobutton</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/form-elements/toggle-switch.html" data-pjax>
                <span>Toggle Switch</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/form-elements/slider.html" data-pjax>
                <span>Slider</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/form-elements/buttons.html" data-pjax>
                <span>Buttons</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-docs-collection-feedback">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Feedback</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/feedback/notifications.html" data-pjax>
                <span>Notifications</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/feedback/progress-bar.html" data-pjax>
                <span>Progress Bar</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/feedback/flow-steps.html" data-pjax>
                <span>Flow Steps</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/feedback/spinner.html" data-pjax>
                <span>Spinner</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-docs-collection-interactions">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Interactions</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/interactions/tabs.html" data-pjax>
                <span>Tabs</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-docs-collection-badges">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Badges</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/badges/splash.html" data-pjax>
                <span>Splash</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/badges/tag.html" data-pjax>
                <span>Tag</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-docs-collection-helper-classes">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Helper Classes</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/helper-classes/media-queries.html" data-pjax>
                <span>Media Queries</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/helper-classes/visually-hidden.html" data-pjax>
                <span>Visually Hidden</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/components/helper-classes/utilities-for-layout.html" data-pjax>
                <span>Utilities For Layout</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-docs-collection-design-guidelines">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Design Guidelines</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/design-guidelines/introduction.html" data-pjax>
                <span>Introduction</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/design-guidelines/grid.html" data-pjax>
                <span>Grid</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/design-guidelines/colors.html" data-pjax>
                <span>Colors</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/design-guidelines/typography.html" data-pjax>
                <span>Typography</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/design-guidelines/icons.html" data-pjax>
                <span>Icons</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/design-guidelines/illustrations.html" data-pjax>
                <span>Illustrations</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/design-guidelines/cards.html" data-pjax>
                <span>Cards</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/design-guidelines/bow.html" data-pjax>
                <span>Bow</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/design-guidelines/animation.html" data-pjax>
                <span>Animation</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/design-guidelines/accessibility.html" data-pjax>
                <span>Accessibility</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/design-guidelines/design-principles.html" data-pjax>
                <span>Design Principles</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-docs-collection-code-guidelines">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Code Guidelines</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/code-guidelines/installation-and-usage.html" data-pjax>
                <span>Installation And Usage</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/code-guidelines/html-guidelines.html" data-pjax>
                <span>HTML Guidelines</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/code-guidelines/css-and-scss-guidelines.html" data-pjax>
                <span>CSS And SCSS Guidelines</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/code-guidelines/accessibility-guidelines.html" data-pjax>
                <span>Accessibility Guidelines</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/code-guidelines/browser-support.html" data-pjax>
                <span>Browser Support</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/code-guidelines/animation.html" data-pjax>
                <span>Animation</span>
                
            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/changelog.html" data-pjax>
                <span>Changelog</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/governance.html" data-pjax>
                <span>Governance</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/support.html" data-pjax>
                <span>Support</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/contributors.html" data-pjax>
                <span>Contributors</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/search-results.html" data-pjax>
                <span>Search Results</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>


    
</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.1"></script>

<script src="../../assets/theme/js/scripts.js?cachebust=1.2.1"></script>



</body>
</html>
