

<div class="ys-container-fluid">
  <div class="ys-row">
    <div class="ys-col-12 ys-col-sm-6 ys-col-md-4 ys-col-lg-2">Column content</div>
    <div class="ys-col-12 ys-col-sm-6 ys-col-md-4 ys-col-lg-2">Column content</div>
    <div class="ys-col-12 ys-col-sm-6 ys-col-md-4 ys-col-lg-2">Column content</div>
    <div class="ys-col-12 ys-col-sm-6 ys-col-md-4 ys-col-lg-2">Column content</div>
    <div class="ys-col-12 ys-col-sm-6 ys-col-md-4 ys-col-lg-2">Column content</div>
    <div class="ys-col-12 ys-col-sm-6 ys-col-md-4 ys-col-lg-2">Column content</div>
  </div>
</div>

