

<!-- Start: @icon--default -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-4G"></use>
</svg>
<!-- End: @icon--default -->

<!-- Start: @icon--5g -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-5G"></use>
</svg>
<!-- End: @icon--5g -->

<!-- Start: @icon--add-to-playlist -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-add-to-playlist"></use>
</svg>
<!-- End: @icon--add-to-playlist -->

<!-- Start: @icon--additional-packages -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-additional-packages"></use>
</svg>
<!-- End: @icon--additional-packages -->

<!-- Start: @icon--airplay -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-airplay"></use>
</svg>
<!-- End: @icon--airplay -->

<!-- Start: @icon--album -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-album"></use>
</svg>
<!-- End: @icon--album -->

<!-- Start: @icon--archive -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-archive"></use>
</svg>
<!-- End: @icon--archive -->

<!-- Start: @icon--arrow-left -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-arrow-left"></use>
</svg>
<!-- End: @icon--arrow-left -->

<!-- Start: @icon--arrow-right -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-arrow-right"></use>
</svg>
<!-- End: @icon--arrow-right -->

<!-- Start: @icon--article -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-article"></use>
</svg>
<!-- End: @icon--article -->

<!-- Start: @icon--artist-radio -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-artist-radio"></use>
</svg>
<!-- End: @icon--artist-radio -->

<!-- Start: @icon--artist -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-artist"></use>
</svg>
<!-- End: @icon--artist -->

<!-- Start: @icon--attach-file -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-attach-file"></use>
</svg>
<!-- End: @icon--attach-file -->

<!-- Start: @icon--bill -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-bill"></use>
</svg>
<!-- End: @icon--bill -->

<!-- Start: @icon--blandselv -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-blandselv"></use>
</svg>
<!-- End: @icon--blandselv -->

<!-- Start: @icon--bluetooth -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-bluetooth"></use>
</svg>
<!-- End: @icon--bluetooth -->

<!-- Start: @icon--booster -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-booster"></use>
</svg>
<!-- End: @icon--booster -->

<!-- Start: @icon--browse -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-browse"></use>
</svg>
<!-- End: @icon--browse -->

<!-- Start: @icon--burger-menu -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-burger-menu"></use>
</svg>
<!-- End: @icon--burger-menu -->

<!-- Start: @icon--calendar -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-calendar"></use>
</svg>
<!-- End: @icon--calendar -->

<!-- Start: @icon--call-abroad -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-call-abroad"></use>
</svg>
<!-- End: @icon--call-abroad -->

<!-- Start: @icon--camera -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-camera"></use>
</svg>
<!-- End: @icon--camera -->

<!-- Start: @icon--campaigns -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-campaigns"></use>
</svg>
<!-- End: @icon--campaigns -->

<!-- Start: @icon--channels -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-channels"></use>
</svg>
<!-- End: @icon--channels -->

<!-- Start: @icon--check-mark -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-check-mark"></use>
</svg>
<!-- End: @icon--check-mark -->

<!-- Start: @icon--chromecast -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-chromecast"></use>
</svg>
<!-- End: @icon--chromecast -->

<!-- Start: @icon--close-with-circle -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-close-with-circle"></use>
</svg>
<!-- End: @icon--close-with-circle -->

<!-- Start: @icon--close -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-close"></use>
</svg>
<!-- End: @icon--close -->

<!-- Start: @icon--cloud-fail -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-cloud-fail"></use>
</svg>
<!-- End: @icon--cloud-fail -->

<!-- Start: @icon--cloud-play -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-cloud-play"></use>
</svg>
<!-- End: @icon--cloud-play -->

<!-- Start: @icon--cloud-streaming -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-cloud-streaming"></use>
</svg>
<!-- End: @icon--cloud-streaming -->

<!-- Start: @icon--coax -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-coax"></use>
</svg>
<!-- End: @icon--coax -->

<!-- Start: @icon--compare -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-compare"></use>
</svg>
<!-- End: @icon--compare -->

<!-- Start: @icon--consumption -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-consumption"></use>
</svg>
<!-- End: @icon--consumption -->

<!-- Start: @icon--contact -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-contact"></use>
</svg>
<!-- End: @icon--contact -->

<!-- Start: @icon--data -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-data"></use>
</svg>
<!-- End: @icon--data -->

<!-- Start: @icon--delete-locked -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-delete-locked"></use>
</svg>
<!-- End: @icon--delete-locked -->

<!-- Start: @icon--delete -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-delete"></use>
</svg>
<!-- End: @icon--delete -->

<!-- Start: @icon--download -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-download"></use>
</svg>
<!-- End: @icon--download -->

<!-- Start: @icon--drag -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-drag"></use>
</svg>
<!-- End: @icon--drag -->

<!-- Start: @icon--dsl -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-dsl"></use>
</svg>
<!-- End: @icon--dsl -->

<!-- Start: @icon--esim -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-eSIM"></use>
</svg>
<!-- End: @icon--esim -->

<!-- Start: @icon--edit -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-edit"></use>
</svg>
<!-- End: @icon--edit -->

<!-- Start: @icon--error -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-error"></use>
</svg>
<!-- End: @icon--error -->

<!-- Start: @icon--exclamation-mark -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-exclamation-mark"></use>
</svg>
<!-- End: @icon--exclamation-mark -->

<!-- Start: @icon--external-link -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-external-link"></use>
</svg>
<!-- End: @icon--external-link -->

<!-- Start: @icon--favorite-channels -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-favorite-channels"></use>
</svg>
<!-- End: @icon--favorite-channels -->

<!-- Start: @icon--favorites-active -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-favorites-active"></use>
</svg>
<!-- End: @icon--favorites-active -->

<!-- Start: @icon--favorites -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-favorites"></use>
</svg>
<!-- End: @icon--favorites -->

<!-- Start: @icon--fiber -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-fiber"></use>
</svg>
<!-- End: @icon--fiber -->

<!-- Start: @icon--filters -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-filters"></use>
</svg>
<!-- End: @icon--filters -->

<!-- Start: @icon--forum -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-forum"></use>
</svg>
<!-- End: @icon--forum -->

<!-- Start: @icon--gaming -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-gaming"></use>
</svg>
<!-- End: @icon--gaming -->

<!-- Start: @icon--genre -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-genre"></use>
</svg>
<!-- End: @icon--genre -->

<!-- Start: @icon--globe -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-globe"></use>
</svg>
<!-- End: @icon--globe -->

<!-- Start: @icon--hdmi -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-hdmi"></use>
</svg>
<!-- End: @icon--hdmi -->

<!-- Start: @icon--help-with-circle -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-help-with-circle"></use>
</svg>
<!-- End: @icon--help-with-circle -->

<!-- Start: @icon--help -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-help"></use>
</svg>
<!-- End: @icon--help -->

<!-- Start: @icon--hitlist -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-hitlist"></use>
</svg>
<!-- End: @icon--hitlist -->

<!-- Start: @icon--home -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-home"></use>
</svg>
<!-- End: @icon--home -->

<!-- Start: @icon--housing-association -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-housing-association"></use>
</svg>
<!-- End: @icon--housing-association -->

<!-- Start: @icon--humax -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-humax"></use>
</svg>
<!-- End: @icon--humax -->

<!-- Start: @icon--hybrid -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-hybrid"></use>
</svg>
<!-- End: @icon--hybrid -->

<!-- Start: @icon--info-with-circle -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-info-with-circle"></use>
</svg>
<!-- End: @icon--info-with-circle -->

<!-- Start: @icon--info -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-info"></use>
</svg>
<!-- End: @icon--info -->

<!-- Start: @icon--landline -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-landline"></use>
</svg>
<!-- End: @icon--landline -->

<!-- Start: @icon--laptop -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-laptop"></use>
</svg>
<!-- End: @icon--laptop -->

<!-- Start: @icon--link -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-link"></use>
</svg>
<!-- End: @icon--link -->

<!-- Start: @icon--list -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-list"></use>
</svg>
<!-- End: @icon--list -->

<!-- Start: @icon--live-tv -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-live-tv"></use>
</svg>
<!-- End: @icon--live-tv -->

<!-- Start: @icon--location -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-location"></use>
</svg>
<!-- End: @icon--location -->

<!-- Start: @icon--lock-open -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-lock-open"></use>
</svg>
<!-- End: @icon--lock-open -->

<!-- Start: @icon--lock -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-lock"></use>
</svg>
<!-- End: @icon--lock -->

<!-- Start: @icon--log-out -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-log-out"></use>
</svg>
<!-- End: @icon--log-out -->

<!-- Start: @icon--mail -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-mail"></use>
</svg>
<!-- End: @icon--mail -->

<!-- Start: @icon--maximize -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-maximize"></use>
</svg>
<!-- End: @icon--maximize -->

<!-- Start: @icon--minimize -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-minimize"></use>
</svg>
<!-- End: @icon--minimize -->

<!-- Start: @icon--minus -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-minus"></use>
</svg>
<!-- End: @icon--minus -->

<!-- Start: @icon--mobile-broadband -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-mobile-broadband"></use>
</svg>
<!-- End: @icon--mobile-broadband -->

<!-- Start: @icon--mobile-phone -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-mobile-phone"></use>
</svg>
<!-- End: @icon--mobile-phone -->

<!-- Start: @icon--mobile-wifi -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-mobile-wifi"></use>
</svg>
<!-- End: @icon--mobile-wifi -->

<!-- Start: @icon--more-options -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-more-options"></use>
</svg>
<!-- End: @icon--more-options -->

<!-- Start: @icon--most-played -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-most-played"></use>
</svg>
<!-- End: @icon--most-played -->

<!-- Start: @icon--movies -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-movies"></use>
</svg>
<!-- End: @icon--movies -->

<!-- Start: @icon--mstv -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-mstv"></use>
</svg>
<!-- End: @icon--mstv -->

<!-- Start: @icon--music -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-music"></use>
</svg>
<!-- End: @icon--music -->

<!-- Start: @icon--news -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-news"></use>
</svg>
<!-- End: @icon--news -->

<!-- Start: @icon--notifications -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-notifications"></use>
</svg>
<!-- End: @icon--notifications -->

<!-- Start: @icon--on-off -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-on-off"></use>
</svg>
<!-- End: @icon--on-off -->

<!-- Start: @icon--outage-warning -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-outage-warning"></use>
</svg>
<!-- End: @icon--outage-warning -->

<!-- Start: @icon--parental-lock -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-parental-lock"></use>
</svg>
<!-- End: @icon--parental-lock -->

<!-- Start: @icon--parental -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-parental"></use>
</svg>
<!-- End: @icon--parental -->

<!-- Start: @icon--password-hide -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-password-hide"></use>
</svg>
<!-- End: @icon--password-hide -->

<!-- Start: @icon--password-show -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-password-show"></use>
</svg>
<!-- End: @icon--password-show -->

<!-- Start: @icon--payment-card -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-payment-card"></use>
</svg>
<!-- End: @icon--payment-card -->

<!-- Start: @icon--payment-return -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-payment-return"></use>
</svg>
<!-- End: @icon--payment-return -->

<!-- Start: @icon--pdf -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-pdf"></use>
</svg>
<!-- End: @icon--pdf -->

<!-- Start: @icon--personal-help -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-personal-help"></use>
</svg>
<!-- End: @icon--personal-help -->

<!-- Start: @icon--picture-in-picture-active -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-picture-in-picture-active"></use>
</svg>
<!-- End: @icon--picture-in-picture-active -->

<!-- Start: @icon--picture-in-picture -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-picture-in-picture"></use>
</svg>
<!-- End: @icon--picture-in-picture -->

<!-- Start: @icon--pin-active -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-pin-active"></use>
</svg>
<!-- End: @icon--pin-active -->

<!-- Start: @icon--pin-inactive -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-pin-inactive"></use>
</svg>
<!-- End: @icon--pin-inactive -->

<!-- Start: @icon--ping -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-ping"></use>
</svg>
<!-- End: @icon--ping -->

<!-- Start: @icon--player-back-10seconds -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-player-back-10seconds"></use>
</svg>
<!-- End: @icon--player-back-10seconds -->

<!-- Start: @icon--player-back-to-live -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-player-back-to-live"></use>
</svg>
<!-- End: @icon--player-back-to-live -->

<!-- Start: @icon--player-fast-forward -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-player-fast-forward"></use>
</svg>
<!-- End: @icon--player-fast-forward -->

<!-- Start: @icon--player-forward-30seconds -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-player-forward-30seconds"></use>
</svg>
<!-- End: @icon--player-forward-30seconds -->

<!-- Start: @icon--player-orientation-lock -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-player-orientation-lock"></use>
</svg>
<!-- End: @icon--player-orientation-lock -->

<!-- Start: @icon--player-pause -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-player-pause"></use>
</svg>
<!-- End: @icon--player-pause -->

<!-- Start: @icon--player-play -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-player-play"></use>
</svg>
<!-- End: @icon--player-play -->

<!-- Start: @icon--player-record -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-player-record"></use>
</svg>
<!-- End: @icon--player-record -->

<!-- Start: @icon--player-rental -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-player-rental"></use>
</svg>
<!-- End: @icon--player-rental -->

<!-- Start: @icon--player-rewind -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-player-rewind"></use>
</svg>
<!-- End: @icon--player-rewind -->

<!-- Start: @icon--player-series-record -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-player-series-record"></use>
</svg>
<!-- End: @icon--player-series-record -->

<!-- Start: @icon--player-start-over -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-player-start-over"></use>
</svg>
<!-- End: @icon--player-start-over -->

<!-- Start: @icon--player-stop -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-player-stop"></use>
</svg>
<!-- End: @icon--player-stop -->

<!-- Start: @icon--playlist -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-playlist"></use>
</svg>
<!-- End: @icon--playlist -->

<!-- Start: @icon--plus -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-plus"></use>
</svg>
<!-- End: @icon--plus -->

<!-- Start: @icon--power -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-power"></use>
</svg>
<!-- End: @icon--power -->

<!-- Start: @icon--print -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-print"></use>
</svg>
<!-- End: @icon--print -->

<!-- Start: @icon--profile -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-profile"></use>
</svg>
<!-- End: @icon--profile -->

<!-- Start: @icon--radio-live -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-radio-live"></use>
</svg>
<!-- End: @icon--radio-live -->

<!-- Start: @icon--radio-song -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-radio-song"></use>
</svg>
<!-- End: @icon--radio-song -->

<!-- Start: @icon--recent-playlist -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-recent-playlist"></use>
</svg>
<!-- End: @icon--recent-playlist -->

<!-- Start: @icon--recently-added -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-recently-added"></use>
</svg>
<!-- End: @icon--recently-added -->

<!-- Start: @icon--reminder-active -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-reminder-active"></use>
</svg>
<!-- End: @icon--reminder-active -->

<!-- Start: @icon--reminder -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-reminder"></use>
</svg>
<!-- End: @icon--reminder -->

<!-- Start: @icon--remote-fast-forward-active -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-fast-forward-active"></use>
</svg>
<!-- End: @icon--remote-fast-forward-active -->

<!-- Start: @icon--remote-fast-forward -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-fast-forward"></use>
</svg>
<!-- End: @icon--remote-fast-forward -->

<!-- Start: @icon--remote-next-active -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-next-active"></use>
</svg>
<!-- End: @icon--remote-next-active -->

<!-- Start: @icon--remote-next -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-next"></use>
</svg>
<!-- End: @icon--remote-next -->

<!-- Start: @icon--remote-pause-active -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-pause-active"></use>
</svg>
<!-- End: @icon--remote-pause-active -->

<!-- Start: @icon--remote-pause -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-pause"></use>
</svg>
<!-- End: @icon--remote-pause -->

<!-- Start: @icon--remote-play-active -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-play-active"></use>
</svg>
<!-- End: @icon--remote-play-active -->

<!-- Start: @icon--remote-play -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-play"></use>
</svg>
<!-- End: @icon--remote-play -->

<!-- Start: @icon--remote-record-active -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-record-active"></use>
</svg>
<!-- End: @icon--remote-record-active -->

<!-- Start: @icon--remote-record -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-record"></use>
</svg>
<!-- End: @icon--remote-record -->

<!-- Start: @icon--remote-rewind-active -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-rewind-active"></use>
</svg>
<!-- End: @icon--remote-rewind-active -->

<!-- Start: @icon--remote-rewind -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-rewind"></use>
</svg>
<!-- End: @icon--remote-rewind -->

<!-- Start: @icon--remote-stop-active -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-stop-active"></use>
</svg>
<!-- End: @icon--remote-stop-active -->

<!-- Start: @icon--remote-stop -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-remote-stop"></use>
</svg>
<!-- End: @icon--remote-stop -->

<!-- Start: @icon--rental-lock -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-rental-lock"></use>
</svg>
<!-- End: @icon--rental-lock -->

<!-- Start: @icon--rental-unlocked -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-rental-unlocked"></use>
</svg>
<!-- End: @icon--rental-unlocked -->

<!-- Start: @icon--repeat-one -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-repeat-one"></use>
</svg>
<!-- End: @icon--repeat-one -->

<!-- Start: @icon--repeat -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-repeat"></use>
</svg>
<!-- End: @icon--repeat -->

<!-- Start: @icon--restart-box -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-restart-box"></use>
</svg>
<!-- End: @icon--restart-box -->

<!-- Start: @icon--reviews -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-reviews"></use>
</svg>
<!-- End: @icon--reviews -->

<!-- Start: @icon--roaming -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-roaming"></use>
</svg>
<!-- End: @icon--roaming -->

<!-- Start: @icon--router-mobile-medium -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-router-mobile-medium"></use>
</svg>
<!-- End: @icon--router-mobile-medium -->

<!-- Start: @icon--router-mobile-small -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-router-mobile-small"></use>
</svg>
<!-- End: @icon--router-mobile-small -->

<!-- Start: @icon--router -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-router"></use>
</svg>
<!-- End: @icon--router -->

<!-- Start: @icon--screen-size -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-screen-size"></use>
</svg>
<!-- End: @icon--screen-size -->

<!-- Start: @icon--search -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-search"></use>
</svg>
<!-- End: @icon--search -->

<!-- Start: @icon--security -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-security"></use>
</svg>
<!-- End: @icon--security -->

<!-- Start: @icon--series-record-active -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-series-record-active"></use>
</svg>
<!-- End: @icon--series-record-active -->

<!-- Start: @icon--series-record -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-series-record"></use>
</svg>
<!-- End: @icon--series-record -->

<!-- Start: @icon--series -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-series"></use>
</svg>
<!-- End: @icon--series -->

<!-- Start: @icon--settings -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-settings"></use>
</svg>
<!-- End: @icon--settings -->

<!-- Start: @icon--share -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-share"></use>
</svg>
<!-- End: @icon--share -->

<!-- Start: @icon--shuffle -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-shuffle"></use>
</svg>
<!-- End: @icon--shuffle -->

<!-- Start: @icon--sim-card -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-sim-card"></use>
</svg>
<!-- End: @icon--sim-card -->

<!-- Start: @icon--simple-arrow-down -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-simple-arrow-down"></use>
</svg>
<!-- End: @icon--simple-arrow-down -->

<!-- Start: @icon--simple-arrow-left -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-simple-arrow-left"></use>
</svg>
<!-- End: @icon--simple-arrow-left -->

<!-- Start: @icon--simple-arrow-right -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-simple-arrow-right"></use>
</svg>
<!-- End: @icon--simple-arrow-right -->

<!-- Start: @icon--simple-arrow-up -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-simple-arrow-up"></use>
</svg>
<!-- End: @icon--simple-arrow-up -->

<!-- Start: @icon--smart-home -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-smart-home"></use>
</svg>
<!-- End: @icon--smart-home -->

<!-- Start: @icon--smart-watch -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-smart-watch"></use>
</svg>
<!-- End: @icon--smart-watch -->

<!-- Start: @icon--sms -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-sms"></use>
</svg>
<!-- End: @icon--sms -->

<!-- Start: @icon--songs -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-songs"></use>
</svg>
<!-- End: @icon--songs -->

<!-- Start: @icon--sort-channels -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-sort-channels"></use>
</svg>
<!-- End: @icon--sort-channels -->

<!-- Start: @icon--sorting -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-sorting"></use>
</svg>
<!-- End: @icon--sorting -->

<!-- Start: @icon--speedtest -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-speedtest"></use>
</svg>
<!-- End: @icon--speedtest -->

<!-- Start: @icon--step-guide -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-step-guide"></use>
</svg>
<!-- End: @icon--step-guide -->

<!-- Start: @icon--subscription -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-subscription"></use>
</svg>
<!-- End: @icon--subscription -->

<!-- Start: @icon--subtitles-dk -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-subtitles-dk"></use>
</svg>
<!-- End: @icon--subtitles-dk -->

<!-- Start: @icon--subtitles -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-subtitles"></use>
</svg>
<!-- End: @icon--subtitles -->

<!-- Start: @icon--support -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-support"></use>
</svg>
<!-- End: @icon--support -->

<!-- Start: @icon--tablet -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-tablet"></use>
</svg>
<!-- End: @icon--tablet -->

<!-- Start: @icon--technician -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-technician"></use>
</svg>
<!-- End: @icon--technician -->

<!-- Start: @icon--text-tv -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-text-tv"></use>
</svg>
<!-- End: @icon--text-tv -->

<!-- Start: @icon--tips -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-tips"></use>
</svg>
<!-- End: @icon--tips -->

<!-- Start: @icon--trailer -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-trailer"></use>
</svg>
<!-- End: @icon--trailer -->

<!-- Start: @icon--troubleshooting -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-troubleshooting"></use>
</svg>
<!-- End: @icon--troubleshooting -->

<!-- Start: @icon--tv-film -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-tv-film"></use>
</svg>
<!-- End: @icon--tv-film -->

<!-- Start: @icon--tv-guide -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-tv-guide"></use>
</svg>
<!-- End: @icon--tv-guide -->

<!-- Start: @icon--tv -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-tv"></use>
</svg>
<!-- End: @icon--tv -->

<!-- Start: @icon--tvs -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-tvs"></use>
</svg>
<!-- End: @icon--tvs -->

<!-- Start: @icon--unplayable -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-unplayable"></use>
</svg>
<!-- End: @icon--unplayable -->

<!-- Start: @icon--update -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-update"></use>
</svg>
<!-- End: @icon--update -->

<!-- Start: @icon--upload -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-upload"></use>
</svg>
<!-- End: @icon--upload -->

<!-- Start: @icon--users-couple -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-users-couple"></use>
</svg>
<!-- End: @icon--users-couple -->

<!-- Start: @icon--users-family -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-users-family"></use>
</svg>
<!-- End: @icon--users-family -->

<!-- Start: @icon--users-single -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-users-single"></use>
</svg>
<!-- End: @icon--users-single -->

<!-- Start: @icon--video-guide -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-video-guide"></use>
</svg>
<!-- End: @icon--video-guide -->

<!-- Start: @icon--voice -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-voice"></use>
</svg>
<!-- End: @icon--voice -->

<!-- Start: @icon--voicemail -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-voicemail"></use>
</svg>
<!-- End: @icon--voicemail -->

<!-- Start: @icon--volume-1 -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-volume-1"></use>
</svg>
<!-- End: @icon--volume-1 -->

<!-- Start: @icon--volume-2 -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-volume-2"></use>
</svg>
<!-- End: @icon--volume-2 -->

<!-- Start: @icon--volume-3 -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-volume-3"></use>
</svg>
<!-- End: @icon--volume-3 -->

<!-- Start: @icon--volume-mute -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-volume-mute"></use>
</svg>
<!-- End: @icon--volume-mute -->

<!-- Start: @icon--voucher -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-voucher"></use>
</svg>
<!-- End: @icon--voucher -->

<!-- Start: @icon--wifi -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-wifi"></use>
</svg>
<!-- End: @icon--wifi -->

<!-- Start: @icon--yousee-more -->
<svg xmlns="http://www.w3.org/2000/svg" class="ys-icon">
    <use xlink:href="/assets/svg/sprite/icons.svg#ys-icon-yousee-more"></use>
</svg>
<!-- End: @icon--yousee-more -->

