

<div class="ys-input-field">
    <label class="ys-input-field__label">
        <span class="ys-input-field__label-text">Label for input</span>
        <span class="ys-input-field__wrapper">
            <input type="text" class="ys-input-field__control" value="Valid input"/>
            <span class="ys-input-field__icon ys-input-field__icon--valid">
                <svg xmlns="http://www.w3.org/2000/svg" class="ys-icon" viewBox="0 0 12 10"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1.5 5.124L5.01 8.75l5.49-7.5"/></svg>
            </span>
        </span>
    </label>
</div>

