

<div class="ys-input-field">
    <label class="ys-input-field__label">
        <span class="ys-input-field__label-text">Label for input</span>
        <span class="ys-input-field__wrapper ys-input-field__wrapper--error">
            <input type="text" class="ys-input-field__control" value="Invalid input" aria-labelledby="input-guidance-id"/>
            <span class="ys-input-field__icon ys-input-field__icon--invalid">
                <svg xmlns="http://www.w3.org/2000/svg" class="ys-icon" viewBox="0 0 2 12"><g fill="none" fill-rule="evenodd"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1v6"/><path fill="currentColor" d="M2 11a1 1 0 11-2 0 1 1 0 012 0"/></g></svg>
            </span>
        </span>
    </label>
    <p class="ys-input-field__guidance ys-input-field__guidance--error" id="input-guidance-id">Guidance message for input field</p>
</div>

