

<div class="ys-select ys-select--light">
    <label class="ys-input-field__label">
        <span class="ys-select__label-text">Label for select</span>
        <span class="ys-select__wrapper ys-select__wrapper--alternative ys-select__wrapper--light">
            <select class="ys-select__control" >
                <option class="ys-select__option" value="1">Option 1</option>
                <option class="ys-select__option" value="2">Option 2 which is very long which you will see</option>
                <option class="ys-select__option" value="3">Option 3</option>
                <option class="ys-select__option" value="4">Option 4</option>
                <option class="ys-select__option" value="5">Option 5</option>
                <option class="ys-select__option" value="6">Option 6</option>
                <option class="ys-select__option" value="7">Option 7</option>
            </select>
        </span>
    </label>
</div>

