

<div class="ys-slider">
    <label class="ys-slider__label">
        <span class="ys-slider__label-text">Choose data-package <span class="ys-u-visuallyhidden">(Options are 10, 20, 30, 40 and 50 gigabyte per month)</span></span>
        <span class="ys-slider__wrapper">
            <span class="ys-slider__minmax-label" aria-hidden="true">10 GB</span>
            <span class="ys-slider__control-wrapper">
                <input class="ys-slider__control" type="range" min="1" max="5" step="1" />
            </span>
            <span class="ys-slider__minmax-label" aria-hidden="true">50 GB</span>
        </span>
    </label>
</div>
