

<div class="ys-tooltip">
    <p class="ys-tooltip__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita iure unde aspernatur non doloribus reiciendis soluta, molestiae, at aliquam adipisci similique suscipit dignissimos, magni fugit. Atque, quaerat. Ea, ipsa labore?</p>
    <p class="ys-tooltip__content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita iure unde aspernatur non doloribus reiciendis soluta, molestiae, at aliquam adipisci similique suscipit dignissimos, magni fugit. Atque, quaerat. Ea, ipsa labore?</p>
</div>
