

<ol class="ys-list ys-list--ordered">
    <li class="ys-list__item">Some item right here</li>
    <li class="ys-list__item">Some item right here</li>
    <li class="ys-list__item">Some item right here
        <ol class="ys-list ys-list--ordered">
    <li class="ys-list__item">Some item right here</li>
    <li class="ys-list__item">Some item right here</li>
    <li class="ys-list__item">Some item right here</li>
</ol>
</li>
<li class="ys-list__item">Some item right here</li>
<li class="ys-list__item">Some item right here</li>
<li class="ys-list__item">Some item right here</li>
<li class="ys-list__item">Some item right here</li>
</ol>

