

<ul class="ys-list ys-list--light">
    <li class="ys-list__item">Some item right here</li>
    <li class="ys-list__item">Some item right here</li>
    <li class="ys-list__item">Some item right here
        <ul class="ys-list ys-list--light">
    <li class="ys-list__item">Some item right here</li>
    <li class="ys-list__item">Some item right here</li>
    <li class="ys-list__item">Some item right here</li>
</ul>
</li>
<li class="ys-list__item">Some item right here</li>
<li class="ys-list__item">Some item right here</li>
<li class="ys-list__item">Some item right here</li>
<li class="ys-list__item">Some item right here</li>
</ul>

