<div class="ys-progress{{#if darkBg}} ys-progress--light{{/if}}" role="progressbar" aria-valuenow="2"
    aria-valuemin="0" aria-valuetext="Progress" aria-valuemax="5">
    <div class="ys-progress__bar" aria-hidden="true">
        <div class="ys-progress__progress" style="width:40%"></div>
    </div>
</div>