<div class="ys-tabs ys-tabs--block" role="tablist" aria-label="Provide a label that describes ALL of the tabs">
    <button class="ys-tabs__tab" role="tab" aria-selected="false" aria-controls="tabTarget01" id="tab01" tabindex="-1">Tab One</button>
    <button class="ys-tabs__tab ys-tabs__tab--active" role="tab" aria-selected="true" aria-controls="tabTarget02" id="tab02">Second Tab</button>
    <button class="ys-tabs__tab" role="tab" aria-selected="false" aria-controls="tabTarget03" id="tab03" tabindex="-1">The Third Tab</button>
</div>

<!-- Before using this, please read the documentation in "Notes" -->
