/* Palette container */
.colors {
  box-sizing: border-box;

  &__palette {
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    & + & {
      margin-top: 12px;
    }
  }

  &__title {
    flex: 0 0 100%;
    font-size: 20px;
    text-transform: capitalize;

    &:first-child {
      margin-top: 20px;
    }
  }

  &__item {
    display: block;
    margin: 12px 12px 0 0;
    width: 140px;
    border-radius: 8px;
    overflow: hidden;
  }

  &__color-swatch {
    position: relative;
    display: block;
    height: 80px;
  }

  &__color-name {
    display: block;
    text-align: center;
    background: none !important;
    font: normal 14px/1.5 "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 80px;
    cursor: copy;

    &::selection {
      background: #FFFF00;
    }
  }

  &__variable-name {
    display: block;
    text-align: center;
    padding: 0 5px;
    height: 40px;
    font-size: 9px;
    color: #000;
  }

  &__variable-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: copy;

    &::selection {
      background: #FFFF00;
    }
  }
}
