/* Palette container */
.colors {
  box-sizing: border-box;

  &__palette {
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    & + & {
      margin-top: 12px;
    }
  }

  &__title {
    flex: 0 0 100%;
    font-size: 20px;
    text-transform: capitalize;

    &:first-child {
      margin-top: 20px;
    }
  }

  &__item {
    display: block;
    margin: 5px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #eee;


    @media screen and (min-width: 400px) {
      width: calc(50% - 20px);
      margin: 10px;
    }

    @media screen and (min-width: 600px) {
      width: calc(33.33% - 20px);
    }

    @media screen and (min-width: 1000px) {
      width: 190px;
    }
  }

  &__color-swatch {
    position: relative;
    display: block;
  }

  &__color-name {
    display: block;
    text-align: center;
    background: none !important;
    font: normal 14px/1.5 "Open Sans", Helvetica, Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    cursor: copy;

    @media screen and (min-width: 400px) {
      height: 80px;
      line-height: 80px;
    }

    &::selection {
      background: #FF0;
    }
  }

  &__variable-name {
    display: block;
    text-align: center;
    padding: 0 5px;
    background-color: #fff !important; // important needed to override theme
    font-size: 12px;
    color: #000;

    @media screen and (min-width: 400px) {
      height: 40px;
    }
  }

  &__variable-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    line-height: 1.3;
    cursor: copy;

    @media screen and (min-width: 400px) {
      height: 40px;
    }

    &::selection {
      background: #FF0;
    }
  }
}
