.contributors {
  display: flex;
  flex-flow: row wrap;

  &__image {
    flex: 0 0 60px;
    margin: 5px;
    text-align: center;

    img {
      vertical-align: middle;
    }
  }

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60px;
    font-size: 12px;
    text-align: center;
  }
}
