html,
body,
.Prose,
.Tree-item {

  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */ 
  // Safari for macOS and iOS (San Francisco)
  // Chrome < 56 for macOS (San Francisco)
  // Windows
  // Android
  // Basic web fallback
  // Emoji fonts
}

.Prose {
  max-width: 100%;
  font-feature-settings: normal;
}

.Prose > *:not(.frctl-example) {
  max-width: 70ch;
}
