[dir="ltr"] .Prose {

  .element-preview {
    position: relative;
    margin: 0;
    max-width: 100%;
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    background-color: #fff;
    background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
    color: #484848;

    &--dark {
      background-color: #111;
      background-image: linear-gradient(45deg, #222 25%, transparent 25%), linear-gradient(-45deg, #222 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #222 75%), linear-gradient(-45deg, transparent 75%, #222 75%);
      color: #fff;
    }

    &__inner {
      padding: 1em;
      max-height: 240px;
      overflow-y: scroll;
    }

    &__input {// used for copy functionality
      position: absolute;
      right: 9999px;
    }

    &__button {// copy to clipboard button
      position: absolute;
      right: 0;
      bottom: 100%;
      font-size: 14px;
      background-color: #d9d9d9;
      padding: 4px 8px;
      z-index: 99;

      &:hover {
        background-color: #ccc;
      }
    }
  }

  .element-navigation {
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #484848;

    &__title {
      font-weight: bold;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}
