.Header {
  background-color: #222;
}

.Header-button {
  @media screen and (min-width: 768px) {
    height: 4rem;
    width: 4rem;
  }
}

.Header-title {
  padding: 0 18px;
  line-height: 1;

  @media screen and (min-width: 768px) {
    padding: 0 22px;
  }
}

.Header-title img {
  width: 105px;

  @media screen and (min-width: 768px) {
    width: 150px;
  }
}

.Header-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1em;
  list-style: none;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.Header-menu img {
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
}

.Header-menu li + li {
  margin-left: 1em;
}

