.Header {
  background-color: #002219;
}

.Header-button {
  //background-color: #000;

  @media screen and (min-width: 768px) {
    height: 4rem;
    width: 4rem;
  }

  // Make sure nav button is hidden on desktop sized screens
  @media screen and (min-width: 1024px) {
    width: 0;
    overflow: hidden;
  }
}

.Header-title {
  padding: 0 18px;
  line-height: 1;

  @media screen and (min-width: 1024px) {
    padding: 0 22px;
  }
}

.Header-title img {
  width: 105px;

  @media screen and (min-width: 768px) {
    width: 150px;
  }
}

.Header-menu {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1em;
  list-style: none;
  font-size: 12px;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.Header-menu img {
  width: 2rem;
  height: 2rem;
}

.Header-menu li + li {
  margin-left: 1em;
}

.Header-menu a {
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}

.Header-version {
  display: flex;
  justify-content: center;
  height: 32px;
  line-height: 32px;

  span {
    margin-right: 1rem;

    &::before {
      content: 'v';
    }
  }

  @media screen and (min-width: 1024px) {
    line-height: 1rem;

    span {
      font-weight: bold;
    }

    span::before {
      display: block;
      content: 'version';
      font-size: .625rem;
      font-weight: normal;
    }
  }
}

