/* Palette container */
.icons {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin: 10px;
    border: 1px solid #ddd;
    width: 100px;
    height: 100px;
  }

  &__icon {

    svg {
      color: red;
      width: 100%;
      heiht: 100%;
    }
  }

  &__name {
    color: blue;
  }

  &__color-swatch {
    position: relative;
    display: block;
    height: 80px;
  }

  &__color-name {
    display: block;
    text-align: center;
    background: none !important;
    font: normal 14px/1.5 "Open Sans", Helvetica, Arial, sans-serif;
    line-height: 80px;
    cursor: copy;

    &::selection {
      background: #FF0;
    }
  }

  &__variable-name {
    display: block;
    text-align: center;
    padding: 0 5px;
    height: 40px;
    font-size: 9px;
    color: #000;
  }

  &__variable-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: copy;

    &::selection {
      background: #FF0;
    }
  }
}
