[dir="ltr"] {

  .Prose {
    font-size: 1.25rem;
    max-width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    blockquote {
      color: inherit;
      opacity: 1;
    }

    > h2 {
      font-size: 1.25rem;
      margin-bottom: .5em;
    }

    > h3 {
      font-size: 1rem;
    }

    > blockquote {
      padding: .5rem 2rem;
      border: 0;
      position: relative;
      opacity: 1;
      font-style: italic;
      font-weight: 600;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: #484848;
        border-radius: 4px;
      }
    }

    & > * {
      max-width: 70ch;
    }

    & > *:not(:last-child) {
      margin-bottom: 1.5em;
    }

    code {
      position: relative;

      pre {
        margin: 0;
      }
    }

    // hide empty p elements that markdown renders
    > p:empty {
      display: none;
    }

    // reinstate scrollbars removed by black.css (fractal base theme)
    ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }
  }
}
