[dir="ltr"] { // here for specificity purposes

  .Frame-panel--sidebar {
    position: relative;
    background-color: #f0f0f0;
    border: 0;
    padding: 2rem 0 5rem;
    box-shadow: none;

    // Navigation section headers
    .Tree-title {
      display: none;
    }

    // Navigation item
    .Tree-collectionLabel,
    a.Tree-entityLink {
      font-size: 1rem;
      color: #484848;
      position: relative;
      padding-left: 0;
      padding-right: 0;
    }

    a.Tree-entityLink {
      padding-top: .375rem;
      padding-bottom: .375rem;
    }

    .Tree-collectionLabel span {
      -webkit-padding-start: 0rem;
      padding-inline-start: 0rem;
      -webkit-margin-start: 0rem;
      margin-inline-start: 0rem;
    }

    // Level 1
    .Tree-depth-1 > .Tree-item > a {
      padding-left: 3rem;
      padding-right: 1rem;
      font-weight: 600;
    }

    .Tree-depth-2 > .Tree-collectionLabel > span {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-weight: 600;
    }

    // Level 2
    .Tree-depth-2 > .Tree-collectionItems > .Tree-item > a {
      padding-left: 4rem;
      padding-right: 2rem;
    }

    .Tree-depth-3 > .Tree-collectionLabel > span {
      padding-left: 3rem;
      padding-right: 2rem;
    }

    // Level 3
    .Tree-depth-3 > .Tree-collectionItems > .Tree-item > a {
      padding: .25rem 2rem .25rem 5.5rem;
      font-size: 1rem;
      line-height: 2;
    }

    .Tree-depth-3 > .Tree-collectionItems {
      padding: 0 0 24px;
    }


    // Current Nav item
    .is-current .Tree-entityLink {
      font-weight: 800;
      background-color: rgba(0, 0, 0, 0);

      &::before {
        content: '';
        position: absolute;
        left: 16px;
        top: 4px;
        bottom: 4px;
        width: 4px;
        background-color: #1fab2e;
        border-radius: 4px;
      }
    }

    // list of items in subnav
    .Tree-collectionItems {
      padding: 0 0 2rem;
    }

    // align arrow to center and move it right
    .Tree-item span {
      display: flex;
      align-items: baseline;
      white-space: normal;

      &::before {
        position: static;
        top: 0;
        width: 1rem;
        height: 1rem;
        margin-right: .5rem;
      }
    }

    // replace bg image (arrow)
    .Tree-collection.is-closed .Tree-collectionLabel span::before {
      background-size: 8px 13px;
      background-image: url('data:image/svg+xml,%3Csvg viewBox%3D%220 0 8 13%22 xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cg stroke%3D%22currentColor%22 stroke-width%3D%222.5%22 fill%3D%22none%22 fill-rule%3D%22evenodd%22 stroke-linecap%3D%22round%22 stroke-linejoin%3D%22round%22%3E%3Cpath d%3D%22M2 2.1l4.38 4.4M2 11.14l4.3-4.63%22/%3E%3C/g%3E%3C/svg%3E');
    }

    .Tree-collection .Tree-collectionLabel span::before {
      background-size: 15px 9px;
      background-image: url('data:image/svg+xml,%3Csvg viewBox%3d%220 0 15 9%22 xmlns%3d%22http://www.w3.org/2000/svg%22%3E%3Cg stroke%3d%22currentColor%22 stroke-width%3d%222.5%22 fill%3d%22none%22 fill-rule%3d%22evenodd%22 stroke-linecap%3d%22round%22 stroke-linejoin%3d%22round%22%3E%3Cpath d%3d%22M12.9 2L7.6 7.25M2 2l5.4 5.17%22/%3E%3C/g%3E%3C/svg%3E');
    }
  }

  // hide status icons in navbar
  .Navigation .Status {
    display: none;
  }
}
