.Frame-panel--sidebar {
  background-color: #d9d9d9;
}

a.Tree-entityLink {
  color: #191919;
}

.Tree-collectionLabel {
  font-weight: bold;

  /* make arrow centered in navigation */
  span {
    display: flex;
    align-items: center;

    &::before {
      position: static;
      top: 0;
    }
  }
}

// hide status in navbar
.Navigation .Status {
  display: none;
}
