<div class="container-fluid">
  <div class="row{{#if modifierClass}} {{modifierClass}}{{/if}}">
    <div class="col-3">3 of 12</div>
    <div class="col-3">3 of 12</div>
    <div class="col-3">3 of 12</div>
    <div class="col-3">3 of 12</div>
    <div class="col-4">4 of 12</div>
    <div class="col-4">4 of 12</div>
    <div class="col-4">4 of 12</div>
    <div class="col-6">6 of 12</div>
    <div class="col-6">6 of 12</div>
    <div class="col-12">12 of 12</div>
    <div class="col-3">3 of 12</div>
    <div class="col-6">6 of 12</div>
    <div class="col-3">3 of 12</div>
    <div class="col-3">3 of 12</div>
    <div class="col-9">9 of 12</div>
    <div class="col-8">8 of 12</div>
    <div class="col-4">4 of 12</div>
  </div>
</div>