<div class="ys-checkbox{{#if isInverted}} ys-checkbox--light{{/if}}">
    <input type="checkbox" {{#if isDisabled}} disabled{{/if}} id="id-of-element"
        class="ys-checkbox__control ys-u-visuallyhidden" />
    <label for="id-of-element" class="ys-checkbox__label">Checkbox label</label>
</div>