@import '../tools/functions';
@import '../generated/colors';
@import '../tools/mixins';

.ys-notification {
  display: flex;
  border-radius: 8px;
  padding: rem(24) rem(36) rem(24) rem(24);
  box-shadow: 0 7px 16px 0 rgba($ys-color-black, .16);
  min-width: rem(260);
  // default notification is info (blue)
  background-color: $ys-color-info-blue-10;
  border-left: 8px solid $ys-color-info-blue;

  @media screen and (min-width: $ys-breakpoint-lg) {
    border-left-width: rem(16);
  }

  /* lobotimized owl selector for flexibility — makes sure that any element that is inserted gets a margin */
  & > *[class^='ys-'] + *[class^='ys-'] {
    margin-left: rem(16);
  }

  &__icon {
    flex: 0 0 rem(24);
    height: rem(24);
    background-color: $ys-color-info-blue;
    border: 4px solid $ys-color-info-blue;
    color: $ys-color-white;
    border-radius: 50%;

    @media screen and (min-width: $ys-breakpoint-lg) {
      margin-top: -4px;
      flex: 0 0 rem(32);
      height: rem(32);
    }
  }

  &__content {
    font-size: rem(16);
    line-height: 1.5;
    color: $ys-color-grey-28;
  }

  &__text {
    margin: 0;

    & + & {
      margin-top: rem(16);
    }
  }

  &__inline-link {
    color: $ys-color-grey-28;
  }

  &--warning {
    background-color: $ys-color-warning-yellow-10;
    border-color: $ys-color-warning-yellow;

    .ys-notification__icon {
      background-color: $ys-color-warning-yellow;
      border-color: $ys-color-warning-yellow;
    }
  }

  &--success {
    background-color: $ys-color-digital-grass-10;
    border-color: $ys-color-digital-grass;

    .ys-notification__icon {
      background-color: $ys-color-digital-grass;
      border-color: $ys-color-digital-grass;
    }
  }

  &--error {
    background-color: $ys-color-error-red-10;
    border-color: $ys-color-error-red;

    .ys-notification__icon {
      background-color: $ys-color-error-red;
      border-color: $ys-color-error-red;
    }
  }
}
