@import './../../../assets/scss/generated/colors';
@import './../../../assets/scss/tools/mixins';

.ys-progress {
  color: $ys-color-grey-28;

  &__bar,
  &__progress {
    height: rem(4);
    background-color: $ys-color-grey-85;
    border-radius: 4px;
  }

  &__progress {
    background-color: $ys-color-digital-grass;
  }

  &--light {

    .ys-progress__bar {
      background-color: $ys-color-grey-46;
    }
  }
}
