@import './../../../assets/scss/generated/colors';
@import './../../../assets/scss/tools/mixins';

.ys-select {
  color: $ys-color-grey-46;

  &__label {
    font-size: rem(12);
    line-height: 1.33;
  }

  &__label-text {
    @include labelText;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: rem(48);
    padding: rem(0) rem(24);
    border-radius: rem(24);
    background-color: $ys-color-white;
    color: $ys-color-grey-28;

    &:not(.ys-select__wrapper--alternative) {
      @include inputFieldShadow;
      @include shadowTransition;
    }

    &:not(.ys-select__wrapper--disabled):not(.ys-select__wrapper--alternative):hover,
    &:not(.ys-select__wrapper--disabled):not(.ys-select__wrapper--alternative):focus-within {
      @include inputFieldShadow(hover); }

    /* lobotimized owl selector for flexibility — makes sure that any element that is inserted gets a margin */
    & > *[class^='ys-'] + *[class^='ys-'] {
      margin-left: rem(8);
    }

    &--disabled {
      box-shadow: 0 0 0 0 transparent;
      background-color: $ys-color-grey-94;
    }

    &--alternative:not(.ys-select__wrapper--disabled) {
      border: 2px solid $ys-color-grey-28;
    }

    &--alternative.ys-select__wrapper--light:not(.ys-select__wrapper--disabled) {
      border-color: $ys-color-white;
      background-color: $ys-color-grey-22;
      color: $ys-color-white;
    }
  }

  &__control {
    flex: 0 1 100%;
    max-width: 100%;
    height: rem(44);
    padding: rem(12) rem(24) rem(12) 0;
    border: 0;
    background-color: transparent;
    background-image: url('/assets/svg/ui-icons/arrow-down-grey-28.svg'), linear-gradient(to bottom, transparent 0%, transparent 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0 top 50%, 0 0;
    background-size: rem(16), 100%;
    color: currentColor;
    font-size: rem(16);
    line-height: 1.5;
    border-radius: rem(24);
    appearance: none;

    &::-ms-expand {
      display: none;
    }

    &:disabled {
      background-image: url('/assets/svg/ui-icons/arrow-down-grey-64.svg'), linear-gradient(to bottom, transparent 0%, transparent 100%);
      color: $ys-color-grey-64;
      box-shadow: 0 0 0 0 transparent;
      cursor: not-allowed;
    }

    .ys-select__wrapper--light.ys-select__wrapper--alternative & {
      background-image: url('/assets/svg/ui-icons/arrow-down-white.svg'), linear-gradient(to bottom, transparent 0%, transparent 100%);
    }
  }

  &__guidance {
    color: $ys-color-grey-28;
    @include guidanceText;

    .ys-select--light & {
      color: inherit;
    }
  }

  &--light {
    color: $ys-color-grey-98;
  }
}
