@import '../generated/ys-colors';

.ys-tag {
  display: inline-block;
  padding: 0 rem(12);
  font-size: rem(12);
  line-height: 1.67;

  background-color: $ys-color-grey-28;
  color: $ys-color-white;

  border-radius: 4px;
}
