@import '../generated/ys-colors';
@import '../settings/ys-settings';
@import '../tools/ys-mixins';
@import '../tools/ys-functions';

.ys-flow-steps {
  $bullet-size-px: 34;
  color: $ys-color-grey-28;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    counter-reset: progress-bullet;
    text-align: center;

    .ys-flow-steps--vertical & {
      display: initial;
      text-align: left;
    }
  }

  &__item {
    position: relative;
    flex: 1 0;
    padding-top: rem($bullet-size-px);
    font-size: rem(14);
    counter-increment: progress-bullet;
    list-style-type: none;

    @media screen and (min-width: $ys-breakpoint-md) {
      padding-top: rem(42);
    }

    .ys-flow-steps--vertical & {
      display: flex;
      padding-top: 0;
      padding-left: rem(48);
      align-items: center;
      height: rem(64);
    }

    // ::before is the line in the bg
    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      top: rem(16);
      left: -50%;
      height: rem(2);
      width: 100%;
      background-color: $ys-color-digital-moss;

      .ys-flow-steps--vertical & {
        height: 100%;
        width: rem(2);
        top: -50%;
        left: rem($bullet-size-px / 2 - 1);
      }
    }

    &:first-child::before {
      display: none;
    }

    // ::after is the actual "bullets"
    &::after {
      $bullet-center-point: calc(50% - #{rem($bullet-size-px / 2)});
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: $bullet-center-point;
      width: rem($bullet-size-px);
      height: rem($bullet-size-px);
      border-radius: 50%;
      background: $ys-color-digital-moss url('data:image/svg+xml,%3Csvg viewBox%3d%22-1 -2 16 16%22 xmlns%3d%22http://www.w3.org/2000/svg%22%3E%3Cpath fill%3d%22none%22 fill-rule%3d%22evenodd%22 stroke%3d%22%23fff%22 stroke-linecap%3d%22round%22 stroke-linejoin%3d%22round%22 stroke-width%3d%222%22 d%3d%22M1 6.16534L5.68013 11 13 1%22/%3E%3C/svg%3E') no-repeat center;
      background-size: 14px 14px;
      border: 2px solid $ys-color-digital-moss;
      text-align: center;
      font-size: rem(16);
      line-height: rem(30);
      font-weight: 600;

      .ys-flow-steps--vertical & {
        left: 0;
        top: $bullet-center-point;
      }
    }

    &--active {
      // Change color of line
      & ~ .ys-flow-steps__item::before {
        background-color: $ys-color-grey-28;
      }

      // Active "bullet"
      &::after {
        content: counter(progress-bullet);
        border-color: $ys-color-digital-grass;
        background-color: $ys-color-digital-grass;
        background-image: none;
        color: $ys-color-white;
      }

      // "Bullets" after the active "bullet"
      & ~ .ys-flow-steps__item:not(.ys-flow-steps__item--active)::after {
        content: counter(progress-bullet);
        background-color: $ys-color-white;
        background-image: none;
        border-color: $ys-color-grey-28;
        color: $ys-color-grey-28;
      }
    }
  }

  &__label {
    font-weight: 600;
    line-height: rem(20);
  }

  &:not(.ys-flow-steps--vertical) &__label {
    @media screen and (max-width: $ys-breakpoint-md) {
      display: none;
    }
  }
}
