@import '../generated/ys-colors';
@import '../settings/ys-settings';
@import '../tools/ys-mixins';
@import '../tools/ys-functions';

.ys-input-field {

  &__label-text {
    @include labelText;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    background-color: $ys-color-white;
    color: $ys-color-grey-10;
    height: rem(48);
    padding: rem(0) rem(24);
    border-radius: rem(24);
    border: 0;
    @include input-border-regular;

    // lobotimized owl selector for flexibility — makes sure that any element that is inserted gets a margin
    & > *[class^='ys-'] + *[class^='ys-'] {
      margin-left: rem(8);
    }

    &:not(.ys-input-field__wrapper--readonly):not(.ys-input-field__wrapper--disabled):hover,
    &:not(.ys-input-field__wrapper--readonly):not(.ys-input-field__wrapper--disabled):focus-within,
    &:not(.ys-input-field__wrapper--readonly):not(.ys-input-field__wrapper--disabled):focus,
    &--error {
      @include input-border-fat;
      padding-left: rem(22);
      padding-right: rem(22);
    }

    &--error {
      border-color: $ys-color-error-red !important; /* stylelint-disable-line declaration-no-important */ //Important needed for not showing green border on focus.
    }

    &--disabled,
    &--readonly {
      background-color: $ys-color-grey-94;
      border-color: $ys-color-grey-94;
    }

    &--disabled {
      cursor: not-allowed;
    }
  }

  &__control {
    border: 0;
    padding: 0;
    width: 100%;
    height: rem(48);
    font-size: rem(16);
    line-height: rem(24);
    background-color: transparent;
    color: $ys-color-grey-10;

    &::placeholder {
      color: $ys-color-grey-64;
      opacity: 1;
    }

    // stylelint-disable
    &:-ms-input-placeholder {
      color: $ys-color-grey-64;
    }

    &::ms-input-placeholder {
      color: $ys-color-grey-64;
    }

    &:-webkit-autofill {
      -webkit-background-clip: text;
    }
    // stylelint-enable

    &:disabled,
    &[readonly] {
      color: $ys-color-grey-64;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:focus {
      outline: none;
    }

    &:not(.ys-input-field__wrapper--readonly):not(.ys-input-field__wrapper--disabled):focus-visible {
      @include customOutline;
    }

  }

  &__icon {
    flex: 0 0 rem(24);
    display: flex;
    width: rem(24);
    height: rem(24);

    &--valid,
    &--invalid {
      color: $ys-color-white;
      border-radius: 50%;
      padding: rem(6);

      &:first-child {
        margin-left: rem(-10);
      }

      &:last-child {
        margin-right: rem(-10);
      }
    }

    &--valid {
      background-color: $ys-color-digital-grass;
    }

    &--invalid {
      background-color: $ys-color-error-red;
    }
  }

  &__guidance {
    @include guidanceText;

    .ys-input-field--light & {
      color: inherit;
    }
  }

  &--light {
    color: $ys-color-grey-98;
  }

}
