@import '../generated/ys-colors';
@import '../settings/ys-settings';
@import '../tools/ys-mixins';
@import '../tools/ys-functions';

.ys-link {
  color: $ys-color-digital-grass;
  text-decoration: underline;

  &:hover {
    color: inherit;
  }

  /* stylelint-disable color-no-hex */
  &:visited {
    color: #609;
  }

  /* stylelint-enable */
}
