@import '../generated/ys-colors';
@import '../settings/ys-settings';
@import '../tools/ys-mixins';
@import '../tools/ys-functions';

.ys-progress {
  color: $ys-color-grey-10;

  &__bar,
  &__progress {
    height: rem(4);
    background-color: $ys-color-grey-85;
    border-radius: 4px;
  }

  &__progress {
    background-color: $ys-color-digital-grass;
  }

  &--light {

    .ys-progress__bar {
      background-color: $ys-color-grey-46;
    }
  }
}
