@import '../generated/ys-colors';
@import '../settings/ys-settings';
@import '../tools/ys-mixins';
@import '../tools/ys-functions';

/* stylelint-disable no-descending-specificity */
.ys-rich-text {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  line-height: 1.5;
  color: $ys-color-grey-28;

  @media screen and (min-width: $ys-breakpoint-lg) {
    font-size: rem(20);
  }

  h1:not([class]),
  h2:not([class]),
  h3:not([class]),
  h4:not([class]),
  h5:not([class]),
  h6:not([class]),
  p:not([class]),
  li:not([class]) {
    max-width: 75ch;
  }

  h1:not([class]) {
    @include ys-main-title;
  }

  h2:not([class]) {
    @include ys-primary-title;
  }

  h3:not([class]) {
    @include ys-secondary-title;
  }

  h4:not([class]),
  h5:not([class]),
  h6:not([class]) {
    @include ys-subtitle;
  }

  p:not([class]) {
    @include ys-body-text;

    @media screen and (min-width: $ys-breakpoint-lg) {
      font-size: rem(20);
    }
  }

  ol:not([class]),
  ul:not([class]) {
    @include ys-list;
  }

  li:not([class]) {
    @include ys-list-item;

    // make sure items have the right top margin
    & + li:not([class]) {
      margin-top: rem(24);
    }
  }

  ol:not([class]) li:not([class])::before {
    @include ys-list-item-ordered;
  }

  ul:not([class]) li:not([class])::before {
    @include ys-list-item-unordered;
  }

  ol:not([class]) ol:not([class]) {
    padding-top: rem(24);
  }

  ul:not([class]) ul:not([class]) {
    padding-top: rem(24);
  }

  ol:not([class]) li:not([class]) li:not([class])::before {
    @include ys-list-item-ordered-indented;
  }

  ul:not([class]) li:not([class]) li:not([class])::before {
    @include ys-list-item-unordered-indented;
  }

  // lobotimized owl selector to set default top margins
  > *:not([class]) + *:not([class]) {
    margin-top: 1em; // use em to make sure that the elements fontsize is taken into consideration
  }

  &--light {
    color: $ys-color-grey-98;

    & > *:not([class]) {
      color: inherit;
    }
  }

  // specific margins
  h1:not([class]) + h2:not([class]),
  h2:not([class]) + h3:not([class]) {
    @include ys-subtitle;
    margin-top: .25em;
  }

  h3:not([class]) + h4:not([class]) {
    margin-top: .5em;
  }

  p:not([class]),
  ul:not([class]),
  ol:not([class]) {
    margin-bottom: 2em;
  }

  h4:not([class]) + *:not([class]),
  h5:not([class]) + *:not([class]),
  h6:not([class]) + *:not([class]) {
    margin-top: 2em;
  }

  // Disable editors' attempt at styling
  br + br {
    display: none;
  }
}

/* stylelint-enable */
