@import '../generated/ys-colors';
@import '../settings/ys-settings';
@import '../tools/ys-mixins';
@import '../tools/ys-functions';

/* stylelint-disable no-descending-specificity */
.ys-radio-button {

  &__label {
    position: relative;
    display: inline-block;
    font-size: rem(16);
    line-height: 1.5;
    padding-left: rem(36);
    min-height: rem(24);

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: rem(24);
      height: rem(24);
      background-color: $ys-color-white;
      border: 2px solid $ys-color-grey-22;
      border-radius: 50%;
    }

    &:hover {

      &::before {
        border-color: $ys-color-digital-grass;
      }
    }
  }

  &__control {

    &:focus {

      & + .ys-radio-button__label {
        outline: none;

        &::before {
          border-color: $ys-color-digital-grass;
        }
      }
    }

    &:focus-visible {

      & + .ys-radio-button__label {
        @include customOutline;
      }
    }

    &:checked {

      & + .ys-radio-button__label::before {
        border-color: $ys-color-digital-grass;
        background-color: $ys-color-digital-grass;
        background-image: url('data:image/svg+xml,%3Csvg viewBox%3d%22-1 -2 16 16%22 xmlns%3d%22http://www.w3.org/2000/svg%22%3E%3Cpath fill%3d%22none%22 fill-rule%3d%22evenodd%22 stroke%3d%22%23fff%22 stroke-linecap%3d%22round%22 stroke-linejoin%3d%22round%22 stroke-width%3d%222%22 d%3d%22M1 6.16534L5.68013 11 13 1%22/%3E%3C/svg%3E');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 14px 14px;
      }
    }

    &:disabled {

      & + .ys-radio-button__label {
        color: $ys-color-grey-64;

        &::before {
          border-color: $ys-color-grey-64;
          background-color: $ys-color-grey-94;
        }
      }
    }
  } // the actual control is hidden through the ys-u-visuallyhidden class

  &--light {

    .ys-radio-button__label {
      color: $ys-color-grey-98;
    }

    .ys-radio-button__control:checked + .ys-radio-button__label::before {
      border-color: $ys-color-digital-grass;
    }
  }
}

/* stylelint-enable */
