@import '../generated/ys-colors';
@import '../settings/ys-settings';
@import '../tools/ys-mixins';
@import '../tools/ys-functions';

html:not(#ys-specificity) .ys-splash {
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  height: rem(88);
  padding: 0 rem(20);

  background-color: $ys-color-digital-sunset-yellow;
  color: $ys-color-white;

  border-radius: 8px;

  &__price {
    display: block;
    font-size: rem(48);
    line-height: 1;
    font-weight: 700;
    text-align: right;
  }

  &__desc {
    display: block;
    font-size: rem(12);
    line-height: 1.5;
    font-weight: 600;
    color: $ys-color-grey-28;
  }

  &--blue {
    background-color: $ys-color-digital-turquoise;
  }
}
