@import '../generated/ys-colors';
@import '../settings/ys-settings';
@import '../tools/ys-mixins';
@import '../tools/ys-functions';

html:not(#ys-specificity) .ys-select {
  color: $ys-color-grey-46;

  &__label {
    font-size: rem(12);
    line-height: 1.33;
  }

  &__label-text {
    @include labelText;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    height: rem(48);
    padding: rem(0) rem(24);
    border-radius: rem(24);
    background-color: $ys-color-white;
    color: $ys-color-grey-28;

    &:not(.ys-select__wrapper--alternative) {
      @include inputFieldShadow;
      @include shadowTransition;
    }

    &:not(.ys-select__wrapper--disabled):not(.ys-select__wrapper--alternative):hover,
    &:not(.ys-select__wrapper--disabled):not(.ys-select__wrapper--alternative):focus-within {
      @include inputFieldShadow(hover);
    }

    // lobotimized owl selector for flexibility — makes sure that any element that is inserted gets a margin
    & > *[class^='ys-'] + *[class^='ys-'] {
      margin-left: rem(8);
    }

    &--disabled {
      box-shadow: 0 0 0 0 transparent;
      background-color: $ys-color-grey-94;
    }

    &--alternative:not(.ys-select__wrapper--disabled) {
      border: 2px solid $ys-color-grey-28;
    }

    &--alternative.ys-select__wrapper--light:not(.ys-select__wrapper--disabled) {
      border-color: $ys-color-white;
      background-color: $ys-color-grey-22;
      color: $ys-color-white;
    }
  }

  &__control {
    flex: 0 1 100%;
    max-width: 100%;
    height: rem(44);
    padding: rem(12) rem(24) rem(12) 0;
    border: 0;
    background-color: transparent;
    background-image: url('data:image/svg+xml,%3Csvg viewBox%3d%220 -3 16 16%22 xmlns%3d%22http://www.w3.org/2000/svg%22%3E%3Cpath fill%3d%22%23484848%22 fill-rule%3d%22evenodd%22 d%3d%22M7.973 7.29884l6.0772-5.98225c.42883-.42212 1.12409-.42212 1.5529 0l.07528.0741a1.069 1.069 0 0 1 0 1.52864L8.844 9.64693a1.149 1.149 0 0 1-.0604.06524c-.44258.44259-1.16015.44259-1.60273 0L.35925 2.89057c-.44258-.4426-.44258-1.16016 0-1.60274.44259-.44259 1.16016-.44259 1.60274 0l6.01101 6.011z%22/%3E%3C/svg%3E'), linear-gradient(to bottom, transparent 0%, transparent 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0 top 50%, 0 0;
    background-size: rem(16), 100%;
    color: currentColor;
    font-size: rem(16);
    line-height: 1.5;
    appearance: none;

    &::-ms-expand {
      background: none;
      border: 0;
      width: 20px;
      height: 20px;
    }

    &:disabled {
      background-image: url('data:image/svg+xml,%3Csvg viewBox%3d%220 -3 16 16%22 xmlns%3d%22http://www.w3.org/2000/svg%22%3E%3Cpath fill%3d%22%23a2a2a2%22 fill-rule%3d%22evenodd%22 d%3d%22M7.973 7.29884l6.0772-5.98225c.42883-.42212 1.12409-.42212 1.5529 0l.07528.0741a1.069 1.069 0 0 1 0 1.52864L8.844 9.64693a1.149 1.149 0 0 1-.0604.06524c-.44258.44259-1.16015.44259-1.60273 0L.35925 2.89057c-.44258-.4426-.44258-1.16016 0-1.60274.44259-.44259 1.16016-.44259 1.60274 0l6.01101 6.011z%22/%3E%3C/svg%3E'), linear-gradient(to bottom, transparent 0%, transparent 100%);
      color: $ys-color-grey-64;
      box-shadow: 0 0 0 0 transparent;
      cursor: not-allowed;
    }
  }

  &__option {
    color: $ys-color-grey-28;
  }

  &__guidance {
    color: $ys-color-grey-28;
    @include guidanceText;

    .ys-select--light & {
      color: inherit;
    }
  }

  &--light {
    color: $ys-color-grey-98;
  }

  &__wrapper--light .ys-select__control {
    background-image: url('data:image/svg+xml,%3Csvg viewBox%3d%220 -3 16 16%22 xmlns%3d%22http://www.w3.org/2000/svg%22%3E%3Cpath fill%3d%22%23fff%22 fill-rule%3d%22evenodd%22 d%3d%22M7.973 7.29884l6.0772-5.98225c.42883-.42212 1.12409-.42212 1.5529 0l.07528.0741a1.069 1.069 0 0 1 0 1.52864L8.844 9.64693a1.149 1.149 0 0 1-.0604.06524c-.44258.44259-1.16015.44259-1.60273 0L.35925 2.89057c-.44258-.4426-.44258-1.16016 0-1.60274.44259-.44259 1.16016-.44259 1.60274 0l6.01101 6.011z%22/%3E%3C/svg%3E'), linear-gradient(to bottom, transparent 0%, transparent 100%);
  }
}
