@import '../generated/ys-colors';
@import '../settings/ys-settings';
@import '../tools/ys-mixins';
@import '../tools/ys-functions';

html:not(#ys-specificity) .ys-tag {
  display: inline-block;
  padding: 0 rem(12);
  font-size: rem(12);
  line-height: 1.67;

  background-color: $ys-color-grey-28;
  color: $ys-color-white;

  border-radius: 4px;
}
