@import '../generated/ys-colors';
@import '../settings/ys-settings';
@import '../tools/ys-mixins';
@import '../tools/ys-functions';

html:not(#ys-specificity) .ys-tabs {
  display: flex;
  overflow-x: auto;

  &__tab {
    appearance: none;
    border: 0;
    margin: 0;
    flex: 1 1 1px;
    font-size: rem(14);
    padding: rem(10) rem(32);
    line-height: 1.5;
    text-align: center;
    background-color: $ys-color-grey-94;
    color: $ys-color-grey-28;
    white-space: nowrap;
    font-weight: 600;
  }

  &__tab[aria-selected='true'],
  &__tab--active {
    background-color: $ys-color-white;
    color: $ys-color-digital-grass;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .16);
  }

  &__tab:hover,
  &__tab:focus {
    background-color: $ys-color-white;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .16);
  }

  &__tab:active {
    background-color: $ys-color-white;
    color: $ys-color-digital-grass;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .16);
  }

  &__tab:first-child {
    border-radius: 8px 0 0 8px;
  }

  &__tab:last-child {
    border-radius: 0 8px 8px 0;
  }

  &__tab:focus:not(:focus-visible) {
    outline: 0; // disable the focus ring when the tab is clicked with a mouse
  }

  &--block {
    display: flex;
  }
}
