@import '../generated/ys-colors';
@import '../settings/ys-settings';
@import '../tools/ys-mixins';
@import '../tools/ys-functions';

.ys-main-title {
  @include ys-main-title;
  color: $ys-color-grey-28;

  &--light {
    color: $ys-color-grey-98;
  }
}

.ys-primary-title {
  @include ys-primary-title;
  color: $ys-color-grey-28;

  &--light {
    color: $ys-color-grey-98;
  }
}

.ys-secondary-title {
  @include ys-secondary-title;
  color: $ys-color-grey-28;

  &--light {
    color: $ys-color-grey-98;
  }
}

.ys-subtitle {
  @include ys-subtitle;
  color: $ys-color-grey-28;

  &--light {
    color: $ys-color-grey-98;
  }
}

.ys-body-text {
  @include ys-body-text;
  color: $ys-color-grey-28;

  &--large {
    font-size: rem(20);
  }

  &--light {
    color: $ys-color-grey-98;
  }
}

.ys-small-text {
  @include ys-small-text;
  color: $ys-color-grey-28;

  &--light {
    color: $ys-color-grey-98;
  }
}

.ys-list {
  @include ys-list;
  color: $ys-color-grey-28;

  &__item {
    @include ys-list-item;

    // make sure items have the right top margin
    & + & {
      margin-top: rem(24);
    }
  }

  &--light {
    color: $ys-color-grey-98;
  }

  .ys-list {
    padding-top: rem(24);
  }

  &--ordered &__item::before {
    @include ys-list-item-ordered;
  }

  &:not(.ys-list--ordered) &__item::before {
    @include ys-list-item-unordered;
  }

  &--ordered &__item &__item::before {
    @include ys-list-item-ordered-indented;
  }

  &:not(.ys-list--ordered) &__item &__item::before {
    @include ys-list-item-unordered-indented;
  }
}
