@import './settings';

/* GRID */
$grid-column-sm-padding: 4px;
$grid-column-lg-padding: 12px;
$grid-column-xl-padding: 16px;

$grid-gutter-sm: 8px;
$grid-gutter-lg: 24px;
$grid-gutter-xl: 32px;

$container-padding: 16px;
$container-md-padding: 24px;
$container-lg-padding: 16px;

$grid-sm-maxwidth: $ys-breakpoint-sm - 32px;
$grid-md-maxwidth: $ys-breakpoint-md - 32px;
$grid-lg-maxwidth: $ys-breakpoint-lg - 32px;
$grid-xl-maxwidth: $ys-breakpoint-xl - 32px;