/**
 *
 *	Variables
 *
 */

// Font-variables
$ys-basefont: 16;
$ys-fontstack: 'Etica', arial, helvetica, sans-serif;

// Breakpoints
$ys-breakpoint-xs: 0;
$ys-breakpoint-sm: 576px;
$ys-breakpoint-md: 768px;
$ys-breakpoint-lg: 992px;
$ys-breakpoint-xl: 1280px;