// 8px grid unit
$ys-fraction-unit: 8px;

// grid settings
// container-padding is padding inside of container
$container-padding: 16px;
$container-sm-padding: 18px;
$container-md-padding: 14px;
$container-lg-padding: $ys-fraction-unit * 2; // 16
$container-xl-padding: $ys-fraction-unit * 2; // 16

// grid-column-padding is total gutter width
$grid-column-padding: $ys-fraction-unit * 1.5; // 12;
$grid-column-sm-padding: $ys-fraction-unit * 3; // 24
$grid-column-md-padding: $ys-fraction-unit * 3; // 24
$grid-column-lg-padding: $ys-fraction-unit * 2; // 16
$grid-column-xl-padding: $ys-fraction-unit * 2; // 16

$grid-sm-maxwidth: $ys-breakpoint-sm - 36px; // 540
$grid-md-maxwidth: $ys-breakpoint-md - 48px; // 720
$grid-lg-maxwidth: $ys-breakpoint-lg; // 992
$grid-xl-maxwidth: $ys-breakpoint-xl - 28px; // 1172
