

<!DOCTYPE html>
<html lang="da" class="no-js">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" id="meta-viewport" />
        <title>YouSee Design System</title>

        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <link href="../../assets/img/favicon.ico" rel="shortcut icon" />
        <link rel="stylesheet" media="screen" href="../../assets/css/ys-bundle.css" />

        <style>
            body {
                padding: 1em;
                background-color: #fff;
                background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
                background-size: 20px 20px;
                background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

            }

            

        </style>
    </head>

    <body>
        <p class="ys-u-until-sm">1. This text is only shown when the viewport width is <strong>576px</strong> or below</p>
<p class="ys-u-until-md">2. This text is only shown when the viewport width is <strong>768px</strong> or below</p>
<p class="ys-u-until-lg">3. This text is only shown when the viewport width is <strong>992px</strong> or below</p>
<p class="ys-u-until-xl">4. This text is only shown when the viewport width is <strong>1200px</strong> or below</p>
<p class="ys-u-from-sm">5. This text is only shown when the viewport width is <strong>576px</strong> or larger</p>
<p class="ys-u-from-md">6. This text is only shown when the viewport width is <strong>768px</strong> or larger</p>
<p class="ys-u-from-lg">7. This text is only shown when the viewport width is <strong>992px</strong> or larger</p>
<p class="ys-u-from-xl">8. This text is only shown when the viewport width is <strong>1200px</strong> or larger</p>


    </body>

</html>

