

<!DOCTYPE html>
<html lang="da" class="no-js">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width" id="meta-viewport" />
        <title>YouSee Design System</title>

        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <link href="../../assets/img/favicon.ico" rel="shortcut icon" />
        <link rel="stylesheet" media="screen" href="../../assets/css/ys-bundle.css" />

        <style>
            body {
                padding: 1em;
                background-color: #fff;
                background-image: linear-gradient(45deg, #eee 25%, transparent 25%), linear-gradient(-45deg, #eee 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #eee 75%), linear-gradient(-45deg, transparent 75%, #eee 75%);
                background-size: 20px 20px;
                background-position: 0 0, 0 10px, 10px -10px, -10px 0px;

            }

            

        </style>
    </head>

    <body>
        <div class="ys-input-field">
    <label class="ys-input-field__label">
        <span class="ys-input-field__label-text">Label for input</span>
        <span class="ys-input-field__wrapper ys-input-field__wrapper--error">
            <input type="text" class="ys-input-field__control" value="Invalid input" aria-labelledby="input-guidance-id"/>
            <span class="ys-input-field__icon ys-input-field__icon--invalid">
                <svg xmlns="http://www.w3.org/2000/svg" class="ys-icon" viewBox="0 0 2 12"><g fill="none" fill-rule="evenodd"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1v6"/><path fill="currentColor" d="M2 11a1 1 0 11-2 0 1 1 0 012 0"/></g></svg>
            </span>
        </span>
    </label>
    <p class="ys-input-field__guidance ys-input-field__guidance--error" id="input-guidance-id">Guidance message for input field</p>
</div>

    </body>

</html>

