<div class="ys-radio-button{{#if isInverted}} ys-radio-button--light{{/if}}">
    <input type="radio" name="radio-group" {{#if isDisabled}} disabled{{/if}} id="id-of-element-{{id}}"
        class="ys-radio-button__control ys-u-visuallyhidden" />
    <label for="id-of-element-{{id}}" class="ys-radio-button__label">Radio label</label>
</div>
